div {
    text-align: left;
    width: 500px;
    margin: auto;
    margin-top: 1em;
}

div.content {
    font-size: 100%;
}

div.title {
    margin-top: 1em;
    font-size: 300%;
}

div.menu a {
    float: left;
    border-right: solid gray medium;
    text-decoration: none;
    margin-right: 5px;
    padding: 5px;
    color: black;
    font-size: 200%;
}

.vertical_menu {
    float: left;
    width: 170px;
    border: 1px dotted blue;
    background-color: #EEFFFF;
    margin: 55px;
    margin-top: 150px;
    padding: 5px;
}
.vertical_menu li {
    list-style: none;
    margin-left: 0px;
}
.vertical_menu li a {
    text-decoration: none;
    color: black;
    font-size: 150%;
}
.vertical_menu li a:hover {
    text-decoration: underline;
}
